/********************************************************/
/*                     Typography                       */
/********************************************************/
@font-face {
    font-family:'dejavu_serifcondensed_bold';
    src: url('public/fonts/fonts/DejaVuSerifCondensed-Bold-webfont.eot');
    src: url('fonts/DejaVuSerifCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/DejaVuSerifCondensed-Bold-webfont.woff2') format('woff2'),
         url('public/fonts/DejaVuSerifCondensed-Bold-webfont.woff') format('woff'),
         url('public/fonts/DejaVuSerifCondensed-Bold-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

/********************************************************/
/*               Background                      */
/********************************************************/
body, .content { 
    background: #fff; 
    color:#333; 
}

/********************************************************/
/*                 Navbar                    */
/********************************************************/
#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
}

#mainNav .navbar-brand {
    color: #E6E7E8
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: .0625rem
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #E6E7E8
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #B2091F
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #E6E7E8
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #B2091F
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: .8rem
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s
    }

    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size .3s;
        -moz-transition: font-size .3s;
        transition: font-size .3s;
    }

    #mainNav .navbar-nav {
        margin-top: 0
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #E6E7E8;
        background: #B2091F
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #E6E7E8;
        background: #B2091F
    }

    #mainNav.navbar-shrink {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;

    }
}

/********************************************************/
/*                 Header                    */
/********************************************************/
/**Template**/
hr {
    background-color: #092140;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'dejavu_serifcondensed_bold';
    color: #B2091F;
}

header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'dejavu_serifcondensed_bold';
    color: #B2091F;
}

@media (min-width:992px) {
    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem; 
        color: #B2091F;
    }

    header.masthead h2 {
        font-size: 1.75em;
        font-family: 'dejavu_serifcondensed_bold';
        color: #B2091F;
    }
}

.carousel-item {
  display: block;
}

/********************************************************/
/*            Posts -  Homepage                         */
/********************************************************/
h3.card-title:hover{
    color: #B2091F ;
    
}

a.card-title {
    text-decoration: none;
}

.card h3 {
    font-size: 2.25rem;
    line-height: 2rem; 
    color: #092140;
}

@media (min-width:992px) {
    .card h3 {
        font-size: 3rem;
        line-height: 2.5rem;
        color: #092140;
    }
}

.card-header, .card-body {
    background-color: #EFF5FB;
}

/********************************************************/
/*            Posts                                      */
/********************************************************/
#postAndComments h3.card-title:hover{
    color: #092140 ; 
}

#commentsPostPage.card {
    display: block;
}

#commentsPostPage h4.card-title {
    color: #B2091F
}

/********************************************************/
/*            Form                                      */
/********************************************************/
ul > li{
    list-style-type: none; 
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef
}

.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none !important
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #18bc9c
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef
}



/********************************************************/
/*            Footer                                      */
/********************************************************/
.footer {

    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff
}

.copyright {
    background-color: #1a252f
}

.flagged {
    background-color: blue;
}
/********************************************************/
/*            Table                                     */
/********************************************************/
.thead-navy {
    background-color: #1a252f;
    color:  #fff;
}

caption {
  font-size: 2rem;
  text-align: center;
  caption-side: top;
}

.table-responsive {
    display: table;
}


/********************************************************/
/*            Links                                     */
/********************************************************/
a {
    color: #18bc9c;
}

a:active, a:focus{
    color: #9C3234
}


/********************************************************/
/*            Button                                    */
/********************************************************/
.btn {
    border-width: 2px
}

.bg-secondary {
    background-color: #1A2A40 !important
}

.text-primary {
    color: #fff !important
}

.text-secondary {
    color: #2c3e50 !important
}

.btn-primary {
    background-color: #18ADF4;
    border-color: #18ADF4
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #43AAC8;
    border-color: #43AAC8
}

.btn-secondary {
    background-color: #2c3e50;
    border-color: #2c3e50
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #1a252f;
    border-color: #1a252f
}


.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem
}


/********************************************************/
/*            Scroll                                      */
/********************************************************/
.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, .5);
    line-height: 3.1rem
}

/********************************************************/
/*            Small                                      */
/********************************************************/
#postAndComments.container, #homePageContainer.container, #loginAdminPage {
     padding-top: 4rem;
}

